@media (max-width: 1400px) {
    .wrapper {
        width: 100vw;
    }

    .profil__img {
        right: 10%;
    }

    /* ==========================================
    ===================== NAV
    ============================================= */

    .mobil__screen {
        display: none;
    }

    /* ==========================================
    ===================== NAV
    ============================================= */

    .banniere__middle {
        /* bottom: -120; */
        left: 0;
        width: 100%;
    }
}

/* ==========================================
    ===================== 400PX
    ============================================= */

@media (max-width: 400px) {
    .wrapper {
        width: 95vw;
    }

    .profil__img {
        filter: blur(2px);
        right: 0;
    }

    .container__aside {
        display: none;
    }

    .container__main {
        width: 100%;
    }

    /* ==========================================
    ===================== NAV
    ============================================= */

    .big__screen {
        display: none;
    }

    .mobil__screen {
        display: block;
    }

    /* ==========================================
    ===================== HOME
    ============================================= */

    h1 {
        font-size: 2rem;
    }
}