*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(90deg, #01011a, #131331);
    width: 95vw;
}

.wrapper {
    width: 60vw;
    margin: auto;
}

main {
    display: flex;
    flex-direction: row-reverse;
}

main .container__aside {
    width: 15%;
}

main .container__main {
    width: 85%;
}

img {
    border-radius: 5px;
}

h1, 
p,
h2,
h3 {
    color: white;
}

.aside__size,
.main__size {
    height: 100vh;
}

/* ==================================================
============= * NAV * ==================
=====================================================*/

nav {
    position: absolute;
    top: 3%;
}

nav .big__screen a,
nav .logo {
    text-decoration: none;
    color: #D50C77;
    padding: 1rem 2rem;
}

nav .logo {
    margin-right: 50px;
}

nav .mobil__screen {
    display: none;
}

/* ==================================================
============= * CONTAINER ASIDE * ==================
=====================================================*/

.container__aside p {
    padding: 300px 0.9rem 0.5rem;
}

.container__aside .page__number {
    text-align: center;
}

/* ==================================================
============= * HOME * ==================
=====================================================*/
.home {
    height: calc(100vh - 200px);
}
h1 {
    font-size: 4rem;
    width: 60%;
    margin-top: 200px;
    margin-bottom: 100px;
}

.profil__img {
    position: absolute;
    top: 0;
    right: 25%;
    border-radius: 0 0 5px 5px;
    z-index: -1;
}

.container__home__img {
    display: flex;
    justify-content: space-between;
    height: 25vh;
    width: 100%;
    margin-top: 200px;
}

.div__img__home__1 {
    width: 55%;
    height: 30vh;
    background-image: url("../pictures/957240.jpg");
}

.div__img__home__2 {
    width: 35%;
    height: 30vh;
    background-image: url("../pictures/Sans-titre-18-1024x589.jpg");
}

/* ==================================================
============= * ABOUT * ==================
=====================================================*/

.about h2 {
    font-size: 2.5rem;
    margin-top: 4rem;
}

.about h3 {
    font-size: 2rem;
}

.container__about {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.skill__front {
    margin: 5rem 2rem 5rem 0;
}

.skill__back {
    margin: 2rem 2rem 2rem 0;
}

.skill__title {
    display: flex;
    justify-content: space-between;
}

.about__paragraphe {
    width: 35%;
    font-size: 1.3rem;
}

.about__icon__plus {
    height: 2.2rem;
    color: #D50C77;
}

.about__icon__minus {
    height: 2.2rem;
    color: white;
    display: none;
}

.skill__logo {
    height: 10rem;
    margin-top: 2rem;
}

.banniere__middle {
    position: absolute;
    bottom: -115vh;
    left: 15%;
    height: 20rem;
    width: 70%;
}